<%
  grouped_relationships = {}
  related_agents.each do |relationship|
    grouped_relationships[relationship['jsonmodel_type']] ||= []
    grouped_relationships[relationship['jsonmodel_type']] << relationship
  end
%>

<% grouped_relationships.each do |type, relationships| %>
  <h4 class="h5"><%= I18n.t("#{type}._singular") %></h4>
  <ul class="present_list unstyled-list">
    <% relationships.each do |relationship| %>
      <% agent = relationship['_resolved'] %>
      <li class="pb-1">
        <%= link_to agent['display_name']['sort_name'], app_prefix(agent['uri']) %> - Related <%= I18n.t("#{agent['jsonmodel_type']}._singular") %>
      </li>
    <% end %>
  </ul>
<% end %>
