<section class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg mb-3 mb-lg-0">
        <h2 class="h1">Set up a research appointment</h2>
        <a class="btn btn-lg btn-primary mt-2 d-none d-lg-inline-block white-link" href="mailto:research@records.nyc.gov?subject=Research%20appointment" aria-hidden="true">Email Us</a>
      </div>
      <div class="col-lg">
        <p>
          Our collections are open for research. Contact us at research@records.nyc.gov for an appointment, and come visit us at 31 Chambers Street, New York, NY.
        </p>
      </div>
      <!-- .col -->
    </div>
    <!-- .row -->
  </div>
  <!-- .container -->
</section>