<section class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg mb-3 mb-lg-0">
        <h2 class="h1">Set up a research appointment</h2>
        <a class="btn btn-lg btn-primary mt-2 d-lg-inline-block white-link text-" href="/contact" aria-hidden="true">Contact Us</a>
      </div>
      <div class="col-lg">
        <p>
          Use our <a href="/contact">contact form</a> to start your research request. Our research room at 31 Chambers Street is open by appointment only.
        </p>
      </div>
      <!-- .col -->
    </div>
    <!-- .row -->
  </div>
  <!-- .container -->
</section>