<% if dates.length == 1 %> class="dates-is-single-date"<% end %>
<% dates.each_with_index do |date, ndx| %>
  <% if ndx == dates.size - 1 %>
    <span class=dates><%= inheritance(date['_inherited']).html_safe %><%= date['final_expression'] %></span>
  <% else %>
    <span class=dates><%= inheritance(date['_inherited']).html_safe %><%= date['final_expression'] %>,</span>
  <% end %>
<% end %>
