<%# expects 'dig_objs' as an array of hashes %>

<% unless dig_objs.blank? %>
<div class="images w-100" >
  <% dig_objs.each do |d_file| %>
    <% if !d_file['out'].blank? %>
      <iframe src="<%=d_file['out'] %>" class="w-100" style="height:700px;border: none" title="<%= t('digital_object._public.link')%>"></iframe>
    <% elsif !d_file['thumb'].blank? %>
      <div class="objectimage">
        <img src="<%= d_file['thumb'] %>" alt="<%=  strip_mixed_content(d_file['caption'] || t('digital_object._public.thumbnail')) %>" />
      </div>
    <% end %>
  <% end %>
</div>
<% end %>
