<div class="recordrow" style="clear: both" data-uri=<%=uri %>>
  <div class="card m-2">
    <button class="btn btn-md btn-light text-primary">
      <a href=<%=uri %>>
        <%=title %>
      </a>
    </button>
  </div>

</div>