<main role="main">
  <section class="py-3">
    <div class="container description">
      <h2 class="big">Internal Server Error</h2>
      <hr>
      <div class="row matrix-gutter">
        <div class="col-lg mr-3">
          <p class="large"><%= t('errors.backend_down') %></p>
          <p><%= t('errors.backend_down_message') %></p>
          <p>Please return to our <a href="/">homepage</a>, or contact <a href="mailto:research@records.nyc.gov"> research@records.nyc.gov</a> for assistance.</p>
        </div>
      </div>
      <!-- .row -->
    </div>
    <!-- .container -->
  </section>
</main>


