<main id="skip-header-target" role="main">
  <section class="featured-panel device-md">
    <div class="card bg-black">
      <img class="card-img opacity-50 full-opacity-on-device" src="<%= AppConfig[:public_proxy_prefix] %>assets/images/bps_01734.jpg" alt="background image">
      <div class="card-img-overlay d-flex">
        <div class="container align-self-center my-3">
          <div class="narrow text-white text-center">
            <h1 class="card-title display-4 font-weight-bold">Welcome to the Municipal Archives</h1>
            <p class="card-text-bold" >The Archives preserves and makes available New York City government's historical records.
              Explore our collections dating from 1645 to the present including documents, digital collections, still and moving images,
              ledgers and docket books, vital records, cartographic materials, blueprints, and audiovisual materials.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- .featured-panel -->
  <section class="py-5">
    <div class="container">
      <div class="row matrix-gutter">
        <div class="col-md">
          <div class="card h-100 bg-dark opacity-90">
            <div class="card-body text-white">
              <h2 class="card-title text-center">Collections</h2>
              <p class="card-text">
                Our vast and growing holdings are continually processed and made accessible through descriptive finding aids.
              </p>
            </div>
            <div class="card-footer text-center">
              <a href="/repositories/resources" class="btn btn-lg btn-white text-primary stretched-link">View All</a>
            </div>
          </div>
        </div>
        <!-- .col -->
        <div class="col-md">
          <div class="card h-100 bg-light">
            <div class="card-body text-dark">
              <h2 class="card-title text-center">Subjects</h2>
              <p class="card-text">
                Browse by topical subjects, material types, occupations, and location.
              </p>
            </div>
            <div class="card-footer text-center">
              <a href="/subjects" class="btn btn-lg btn-primary stretched-link">View All</a>
            </div>
          </div>
        </div>
        <!-- .col -->
      </div>
      <!-- .row -->
      <div class="row matrix-gutter">
        <div class="col-md">
          <div class="card h-100 bg-light">
            <div class="card-body text-dark">
              <h2 class="card-title text-center">Names</h2>
              <p class="card-text">
                Browse by individuals and organizations associated with our collections.
              </p>
            </div>
            <div class="card-footer text-center">
              <a href="/agents" class="btn btn-lg btn-primary stretched-link">View All</a>
            </div>
          </div>
        </div>
        <!-- .col -->
        <div class="col-md">
          <div class="card h-100 bg-dark opacity-90">
            <div class="card-body text-white">
              <h2 class="card-title text-center">Record Groups</h2>
              <p class="card-text">
                The collections are organized by Record Group, typically the creating city agency.
              </p>
            </div>
            <div class="card-footer text-center">
              <a href="/classifications" class="btn btn-lg btn-white text-primary  stretched-link">View All</a>
            </div>
          </div>
        </div>
        <!-- .col -->
      </div>
      <!-- .row -->
    </div>
    <!-- .container -->
  </section>
  </div>
  <!-- .row -->
  </div>
  <!-- .container -->
  </section>
  <section class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg mb-3 mb-lg-0">
          <h2 class="h1">Set up a research appointment</h2>
          <a class="btn btn-lg btn-primary mt-2 d-none d-lg-inline-block" href="mailto:research@records.nyc.gov?subject=Research%20appointment" aria-hidden="true">Email Us</a>
        </div>
        <div class="col-lg">
          <p>
            Our collections are open for research. Contact us at research@records.nyc.gov for an appointment, and come visit us at 31 Chambers Street, New York, NY.
          </p>
        </div>
        <!-- .col -->
      </div>
      <!-- .row -->
    </div>
    <!-- .container -->
  </section>
</main>